asgiref==3.11.0
astroid==4.0.2
crispy-bootstrap5==2025.6
dill==0.4.0
django==6.0
django-crispy-forms==2.5
django-feather==0.3.0
isort==7.0.0
mccabe==0.7.0
platformdirs==4.5.1
pylint==4.0.4
sqlparse==0.5.5
tomlkit==0.13.3
