{% extends "base-nav.html" %}
{% load icon %}
{% load static %}

{% block title %}
    <title> SmartDjango | {{ title }} </title>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{% static "BallGame/css/homepage.css" %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="mt-2">Ball Game</h1>
                <p class="lead">Welcome to the Ball Game baseball simulator.</p>
                <img src="{% static "BallGame/img/Mike_Trout.webp" %}" class="img-fluid" alt="Baseball Player">
            </div>
            <div class="col">
                <form>
                    <div class="mb-3">
                      <label for="console" class="form-label">Game Console</label>
                      <textarea class="form-control" id="console" rows="10">{{ console }}</textarea>
                    </div>
                </form>
            </div>
          </div>


    </div>



{% endblock %}

