{% extends "base-nav.html" %}
{% load icon %}
{% load static %}

{% block title %}
    <title> SmartDjango | {{ title }} </title>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{% static "BallGame/css/homepage.css" %}">
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mt-2">Ball Game</h1>
        <p class="lead">Welcome to the Ball Game baseball simulator.</p>
        <p>User has already a team? =  {{ userdata.has_team }}</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            &nbsp;
        </div>
      </div>
    </div>
{% endblock %}

